
/* 
      Animation for Spin Loader in Loader Component
*/

#Loader{
        width: 100px;
        height: 100px;
        border: 6px solid rgb(139, 138, 138);
        border-radius: 50% ;
        border-top: 6px dotted rgb(50, 50, 50);
        animation: spin 1s linear infinite;
      }

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }

}